/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos del NavBar */
.navbar {
  background-color: #023dff;
  color: #fff;
  padding: 10px;
  text-align: left;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between; /* Alinea los elementos al inicio y al final */
  align-items: center; /* Centra verticalmente los elementos */
  font-family: 'Poppins', sans-serif;
}


.navbar-left {
  font-size: 1.5em;
}

/* Estilos del contenido */
.content-container {
  padding: 20px;
  flex: 1;
}

/* Estilos del Footer */
.footer {
  background-color: #023dff;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-text {
  font-size: 1.2em;
}

/* Estilos del Sidebar */
.react-sidebar {
  z-index: 1;
}

.sidebar {
  background: white;
  width: 250px;
  height: 100vh; /* Establece la altura al 100% del viewport */
  transition: left 0.3s ease; /* Agrega una transición para suavizar la animación */
  z-index: 1;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-align: center;
}

.sidebar ul,
.sidebar li {
  padding: 10px;
  list-style: none;
  text-align: left;
  position: relative;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Estilos específicos para el li activo */
.sidebar li.active {
  background-color: #023dff; /* Color de fondo azul para el li activo */
  color: #fff; /* Texto blanco para el li activo */
}

.sidebar a {
  text-decoration: none;
  color: inherit; 
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
}

.icons {
  margin-right: 20px;
  height: 20px;
  width: 20px;
}

/* Estilos del botón de activación del Sidebar */
.sidebar-button {
  background-color: white;
  color:  rgb(0, 89, 255);
  border: none;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 35px;
}



.sidebar li button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  color: inherit;
  margin: 0;
}

.sidebar li button:hover {
  background-color: #f5f5f5; /* Cambia el color de fondo al pasar el mouse */
}

/* ... (resto de tus estilos) */